body {
    background-color: #111;
}

.container {
    margin: 25px auto;
    width: 400px;
    height: 400px;
}

.cell {
    width: 20px;
    height: 20px;
    background-color: #333;
    display: inline-block;
    margin-left: -4px;
    margin-top: -4px;
}

.cell:nth-child(3n) {
    background-color: #383838;
}

.cell:hover {
    filter: brightness(1.25);
}

.colored {
    background-color: crimson;
}