* {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

body {
    background-color: #111;
}

.container {
    margin: 25px auto;
    width: 400px;
    height: 400px;
}

.cell {
    width: 20px;
    height: 20px;
/*    background-color: #333;*/
    display: inline-block;
    margin-left: -4px;
    margin-top: -4px;
}

.cell:hover {
    filter: brightness(1.2);
}

.black {
    background-color: #333;
}

.red {
    background-color: crimson;
    box-shadow: 0 0 25px 0 crimson;
}

.orange {
    background-color: darkorange;
    box-shadow: 0 0 25px 0 darkorange;
}

.yellow {
    background-color: gold;
    box-shadow: 0 0 25px 0 gold;
}

.green {
    background-color: limegreen;
    box-shadow: 0 0 25px 0 limegreen;
}

.lazure {
    background-color: skyblue;
    box-shadow: 0 0 25px 0 skyblue;
}

.blue {
    background-color: royalblue;
    box-shadow: 0 0 25px 0 royalblue;
}

.violet {
    background-color: blueviolet;
    box-shadow: 0 0 25px 0 blueviolet;
}

.white {
    background-color: #eee;
    box-shadow: 0 0 25px 0 #eee;
}